.switcher {
    display: flex;
    gap: 0.5rem;
    margin-right: 1rem;
}

.link {
    font-size: 0.8rem;
    font-weight: 600;
    color: #888;
    padding: 0.2rem 0.4rem;
    border-radius: 4px;
}

.link:hover {
    color: var(--primary-color);
    background-color: var(--light-gray);
}

.active {
    color: var(--primary-color);
    background-color: #E6EAF0;
}